.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;

  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
  }

  .main-container {
    max-width: 800px;
    width: 100%;
    height: max-content;
    min-height: 100%;

    margin: 0 auto;
    padding: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-top: 1px solid #ccc;
    position: sticky;
    bottom: 0;
  }
}
